a{
  text-decoration: none;
}

div.linkbox {
  margin: 30px;
  width: 110px;
  padding: 10px;
  border: 1px solid rgb(20, 8, 62);
}
.linkheader {
  text-decoration: underline;
  font-weight: 1000;
  color: blue;
}

.linkdescription {
  color: green;
}

.linkbox:hover {
  background-color: rgba(147, 153, 101, 0.35);
}
